.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;


}

.overlay2 {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 10;
  right: 0;
  height: 8%;
  width: 85%;

  transition: .5s ease;
}
